@model Tuple<int, string, int >

<div class="flex">

    <!-- Name -->

    <div class="flex-1">
        <label for="Position" class="block text-sm font-medium text-gray-700">Position @(Model.Item1 + 1)</label>
        <input type="text"
               name="Positions[@Model.Item1].Name"
               value="@Model.Item2"
               placeholder="Manager"
               required
               maxlength="100"
               class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" />

    </div>

    <!-- Delete -->

    @{
        if(Model.Item1 == 0 && Model.Item3 < 2)
        {

        } 
        else
        {
            <div onclick="DeletePosition(@Model.Item1)" class="w-[10%] text-xs mt-5 flex items-center justify-center ml-4 cursor-pointer text-red-500 hover:text-red-700">

                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2"><path d="M3 6h18" /><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" /><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" /><line x1="10" x2="10" y1="11" y2="17" /><line x1="14" x2="14" y1="11" y2="17" /></svg>
            </div>
        }
    }

</div>


