@using hris.Pages.PageModels
@model Tuple<IEnumerable<BreadcrumbPageModel.BreadcrumbItem>>

<nav class="flex items-center text-gray-500 space-x-2 my-6">
    @foreach (var breadcrumb in Model.Item1)
    {
        if (!string.IsNullOrEmpty(breadcrumb.Url)) 
        {
                <a href="@breadcrumb.Url" class="hover:text-blue-500">@breadcrumb.Name</a>
                <span>/</span>
        }
        else
        {
                <span class="text-gray-800 font-semibold">@breadcrumb.Name</span>
        }
    }
</nav>
